{% extends 'blog/base.html' %}

{% block content %}
<header class="page-heading ">
	<h1 class="display-4">MyBlog</h1>
</header>

<section>
	{% for post in post_list %}
	<article class="post-in-list full-height">
		<header class="post-title">
			<h2>
				<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
			</h2>
		</header>
		<section>
			<div class="post-date">
				<p><strong>Published on:</strong> {{ post.published_date|date:"d-m-Y" }}</p>
			</div>
			<section class="summary">
				<p>
					<header class="summary-title">
						<strong>Summary:</strong>
					</header>
					<section class="summary-content">
							{{ post.text|striptags|linebreaksbr|truncatechars:200 }}
					</section>
				</p>
			</section>
			<section class="comment-count-container">
			<a class='comment-count' href="{% url 'post_detail' pk=post.pk %}">
				Comments: {{ post.approve_comments.count }}				
			</section>
			</a>
		</section>
	</article>
	{% endfor %}
</section>
{% endblock %}